<div class="col-md-6 col-md-offset-3">
	<div class="edit-book-form">
    <h1> Update Book </h1>
    <%= simple_form_for @book, :html => { :multipart => true } do |f| %>
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: "Select Category") %>
      <%= f.file_field :book_img %>
      <%= f.input :title, label: "Book Title" %>
      <%= f.input :description %>
      <%= f.input :author %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
